

<div class="container">
<div class="row">

<%= simple_form_for @book do |f| %>
  <%= f.input :title, label: ' title ' ,placeholder: 'title'%>
  <%= f.input :category, hint: 'No special characters.' %>
  <%= f.input :book_year_published, placeholder: 'published' %>
  <%= f.input :image, inline_label: 'image' %>
  <%= f.input :description, inline_label: 'description' %>
  <%= f.input :price, inline_label: 'price' %>
  <%= f.button :submit %>
<% end %>

</div>
</div>
<%= link_to 'Back', books_path %>
