<% provide(:page_title, 'home') %>

<div class="slide-d">


<div id="carouselExampleControls" class="  carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%=image_tag "s1.jpeg" ,class:"d-block w-100 img_s" %>
    </div>
    <div class="carousel-item">
      <%=image_tag "s3.jpg" ,class:"d-block w-100 img_s" %>
    </div>
    <div class="carousel-item">
      <%=image_tag "s2.jpeg" ,class:"d-block w-100 img_s" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<br>
<br>

   <%= link_to cart_path(@current_cart) , class: "btn btn-success btnc_cart" do  %>
      <%= fa_icon "cart-plus"%>
           Cart
          <% end %>

 <h1>
  book store
  <%= fa_icon "book"%>
</h1>

<div class="container-fluid">
  <h4>  Gallery</h4>
  <div class="row d-inline-flex">
    <!-- Gallery Item 1 -->
    <% @book.each do |f|  %>
      <div class="col-7 col-sm-3 col-md-4 p-2">
        <div class="card h-100">
          <%= image_tag(f.image, size: "150x250", alt: "Image" , class:"card-img-top") %>
          <h5 class="card-title text-center">
            <%=f.title %></h5>
          <h6 class="card-title text-center">
          category: <%=f.category %></h6>
            <h6 class="card-title text-center price">
              price: $<%=f.price %></h6>
            <%=button_to order_details_path(:book_id => f.id), class: "btn btn-warning  btn_x " , style: "margin:5px margin-left: 10px;" , params:{bookID: f.id} do %>
           <%= fa_icon "shopping-basket"%>
                Add to Cart
              <% end %>
           <p class="pro-text card-text text-center">published: <%= f.book_year_published %></p>
        </div>
      </div>
    <%end%>
  </div>
</div>
<div class=".pag_m">

<div class="pag_x digg_pagination">
  <%= will_paginate @book %>
</div>
</div>
