<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Cart</h1>
  </div>
</section>

<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th >book</th>
              <th></th>
              <th class="text-right">Price</th>
              <th></th>
              <th></th>

            </tr>
          </thead>
          <tbody>
            <% @cart.order_detail.each do |item| %>

            <tr>
              <td></td>
              <td><%= Book.find_by(id:item.book_id).title %></td>
                <td></td>
              <td>$ <%= Book.find_by(id:item.book_id).price %></td>
              <td></td>
              <td></td>
              <% end %>
              <!-- <td>Sub-Total</td> -->
              <!-- <td class="text-right"><%= number_to_currency(@cart.sub_total) %></td> -->
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Shipping</td>
              <td class="text-right">free</td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <strong>Total</strong>
              </td>
              <td class="text-right">
                <strong><%= number_to_currency(@cart.sub_total) %></strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">

          <div class="col-sm-12 col-md-4 text-right">
            <%= button_to "payment", new_order_path , method: :get,class: "btn btn-lg btn-block btn-success text-uppercase"%>
          </div>

      </div>
    </div>
  </div>
</div>
